# Supabase
VITE_SUPABASE_URL=https://xqxbzqufbfdjckcyxfyq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhxeGJ6cXVmYmZkamNrY3l4ZnlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxNzE1OTcsImV4cCI6MjA5Nzc0NzU5N30.Ao4Xs5xZ3rIwawcGiFRCTDXRXZ9Fel34bcCKAwXsRNQ